@font-face {
  font-family: "Inter-bold";
  src: 
    url("../../../fonts/woff2/Inter-Bold.woff2"),
    url("../../../fonts/ttf/Inter-Bold.ttf"),
    url("../../../fonts/otf/Inter-Bold.otf");
  font-style: normal;
  font-weight: 900;
}

.place__title {
  width: 47%;
  font-family: 'Inter-bold';
  font-size: 72px;
  line-height: 1;
  margin: 0;
  color: #FFFFFF;
}