@font-face {
  font-family: "Inter-thin";
  src: 
    url("../../../fonts/woff2/Inter-Thin.woff2"),
    url("../../../fonts/ttf/Inter-Thin.ttf"),
    url("../../../fonts/otf/Inter-Thin.otf");
  font-style: normal;
  font-weight: 400;
}

.lead__subtitle {
  width: 54%;
  font-family: "Inter-thin";
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  margin: 30px auto;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .lead__subtitle {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .lead__subtitle {
    width: 70%;
    margin-bottom: 50px;
  }
}